#header {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 #000;
}

#logoImg {
  width: 50px;
  margin-right: 200px;
  cursor: pointer;
}

#searchInput {
  margin-right: 20px;
  background-color: rgb(197, 197, 197);
  border: none;
  height: 35px;
  width: 250px;
  border-radius: 3px;
}

#searchBtn {
  margin-right: 50px;
  background: none;
  border: none;
  height: 35px;
  width: 80px;
  box-shadow: 0 0 2px #000;
  background-color: rgb(197, 197, 197);
  cursor: pointer;
}
